body {
  background: lightgray;
  margin: 0;
}

// container styles
.container {
  padding: 1rem;
}

// header styles
.section__header-names, .section__header-app {
  padding: .5rem 1rem;
}


.body__idiotproofed {
  &.tools-visible {
    .sliders {
      opacity: 1;
      max-height: 200px;
    }
  }
}

// proofing sections
.section__proofing {
	display: block;
  + .section__proofing {
    margin-top: 4rem;
  }
}

// view tools toggle
.view-tools-toggle {
  display: block;
  float: right;
  position: sticky;
  top: 1rem;
  right: .5rem;
  text-align: right;
}
