body {
  background: #f4f4f4;
	color: #000001;
  margin: 0;
  //more graceful loadin of proofing stuff
  .item {
    transform-origin: top center;
    transform: scaleY(0) translateY(-20px);
    opacity: 0;
    transition: opacity 3s ease-in-out, transform 1s ease-in-out;
  }
  &.loaded {
    .item {
        transform: scaleY(1) translateY(0px);
        opacity: 1;
      }
  }
}

// container styles
.container {
  padding: 1rem;
}

// header styles
.section__header-names, .section__header-app {
  padding: .5rem 1rem;
}


.body__idiotproofed {
  &.tools-visible {
    .item__sliders {
      display: block;
      //max-height: 200px;
    }
  }
}

// proofing sections
.section__proofing {
	display: block;
  + .section__proofing {
    margin-top: 4rem;
  }
}

// view tools toggle
.view-tools-toggle {
  display: block;
  position: sticky;
  z-index: 1;
  top: 1rem;
  right: .5rem;
  text-align: right;
}
