body {
  background: $gray-color-light;
  //more graceful loadin of proofing stuff
  .item {
    transform-origin: top center;
    transform: scaleY(.5) translateY(-30px);
    opacity: 0;
    transition: opacity 3s ease-in-out, transform 1s ease-in-out;
  }
  &.loaded {
    .item {
        transform: scaleY(1) translateY(0px);
        opacity: 1;
      }
  }
}

.btn {
  font-weight: 100;
}

.tab {
  border: 0;
  margin-bottom: 2rem;
}

.off-canvas-sidebar {
  background: white;
  box-shadow: 0 6px 24px $border-color;
}

.section__footer-app * {
  color: $gray-color-dark;
}

.section__footer-app p {
  font-size: .6rem;
  color: $gray-color-dark;
}
