// item styles
.item {
  display: flex;
  white-space: normal;
  align-items: stretch;
  + .item {
    margin-top: 1rem;
  }
}

.item__proof {
  word-break: break-all;
  background: white;
  border-radius: 2px;
  padding: 4rem;
  flex-grow: 1;
  width: 100%;
  .testarea {
    box-sizing: border-box;
    border: none;
    display: block;
    width: 100%;
    height: auto;
    resize: none;
    -webkit-appearance:none;
  }
}

// .add-item-above {
//   display: none;
// }
