// item styles
.item {
  display: flex;
  white-space: normal;
  word-break: break-all;
  align-items: stretch;
  + .item {
    margin-top: 1rem;
  }
}

.testarea {
  background: white;
  border-radius: 2px;
  padding: 4rem;
  flex-grow: 1;
  width: 100%;
}

.add-item-above {
  display: none;
}

.sliders {
  flex-grow: 0;
}
