// Hide shit
#section__header-app {
	display: none;
}
button, .btn {
	display: none;
}
.sliders {
	display: none!important;
}
// Basic style tweaking
.item {
	box-shadow: 0px 0px 0px;
	margin: 0px;
	padding: 0px;
	page-break-inside: avoid;
}
#section__header-names {
	position: fixed;
	padding: 0px;
	width: 100vw;
	bottom: -20px;
}

.page-break {
	page-break-after: always;
	page-break-inside: avoid;
	clear:both;
}
.page-break-before {
	page-break-before: always;
	page-break-inside: avoid;
	clear:both;
}
