// Basic Style Tweaking

body {
	background: none;
	padding: 0;
	margin: 0;
	* {
		color: black!important;
		padding: 0!important;
		margin: 0!important;
	}
	.text-gray {
		color: lightgray;
	}
}

#section__header-names {
	background: transparent;
	position: fixed;
	padding: 0px;
	width: 100vw;
	bottom: -2mm;
	z-index: 20;
	font-size: .5rem;
}

.section__header-name {
	font-size: .8rem;
	text-align: center;
}

.item__proof {
	box-shadow: none;
}

// Hide Stuff
#section__header-stage-buttons, .off-canvas-sidebar, .navbar, .item__sliders, #section__footer-app, button, .btn {
	display: none;
}

// Page Breaks
.item {
	break-inside: avoid;
	page-break-inside: avoid;
	width: 100%;
	max-width: initial;
	padding: 0 0mm 0 5mm!important;
}

.item:last-child {
	page-break-after: auto!important;
}

// Fixing Random Height problems
.off-canvas .off-canvas-content, .off-canvas, body, html {
	height: auto!important;
}

// Page margin
@page
{
  size: auto;   /* auto is the initial value */

  /* this affects the margin in the printer settings */
  margin: 15mm 25mm 15mm 25mm!important;
}

// Explicits
.no-print {
	display: none!important;
}
