//Styles for ProfessionalProofer
$pro-white: #fff;
$pro-lightestgray: #f4f4f4;
$pro-lightergray: #e3e3e3;
$pro-lightgray: #eaeaea;
$pro-gray: #d5d5d5;
$pro-darkishgray: #b1aeb1;
$pro-darkgray: #9C9C9C;
$pro-darkergray: #3C3C3C;
$pro-black: #2C2C2C;

$pro-font-stack: "system";

$pro-unit: 6px; //probably stick to even numbers here since this number is sometimes divided
$pro-radius: $pro-unit;

&.loaded {
	font-family: $pro-font-stack;
	color: $pro-black;
	background: $pro-white;
}

//typography
.h3 {
	letter-spacing: .02em;
}
.item__proof {
	.h3 {
		color: $pro-gray;
		margin-top: 0px;
	}
}
.h6 {
	letter-spacing: .03em;
}

.section__header-app {
	color: #4d494d;
	position: sticky;
	top: 0;
	background: $pro-darkergray;
	z-index: 1;
	padding-bottom: 0px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

//Buttons
.btn {
	text-decoration: none;
	color: $pro-black;
	font-size: 10px;
	padding: $pro-unit $pro-unit*3;
	border: 0px;
	margin: $pro-unit/2 $pro-unit/2;
	display: inline-block;
	background: $pro-white;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
	border-radius: $pro-unit*2;
	cursor: pointer;
	outline: none;
	&:active {
	 	border-color: $pro-gray;
	 	background: $pro-lightergray;
		box-shadow: 0px 0px 1px rgba(0,0,0,0.65);
	}
	&:disabled {
		color: $pro-gray;
		background: linear-gradient(top, $pro-lightergray, $pro-lightestgray);
	}
}
.btn__setfont {
      overflow:hidden;
      max-width: 125px;
      direction:rtl;
      white-space: nowrap;
	text-overflow: ellipsis;
	&:hover {
		direction:ltr;
	}
}

.tab {
	text-decoration: none;
	color: $pro-black;
	font-size: 10px;
	padding: $pro-unit $pro-unit*2;
	border: 1px solid $pro-black;
	border-bottom: 0;
	border-radius: $pro-radius $pro-radius 0 0;
	margin: 2px 2px;
	display: inline-block;
	background: $pro-gray;

	cursor: pointer;
	outline: none;
	margin-bottom: 0;
	&.active {
		background: $pro-white;
		box-shadow: 0px 0px 0px rgba(0,0,0,0.05);
	}
	&:disabled {
		color: $pro-gray;
		background: linear-gradient(top, $pro-lightergray, $pro-lightestgray);
	}
}

//tools



.section__header-tools {
	border: 1px solid $pro-lightergray;
	border-radius: $pro-radius;
	text-align: center;
	.btn {
		border: none;
		box-shadow: none;
		display: block;
		font-size: 24px;
		line-height: 24px;
		padding: $pro-unit;
		margin: 0;
	}
}

// slider styles
.item__sliders {
  border-radius: $pro-radius;
  padding: $pro-unit*4;
  padding-right: 2rem;
  display: none;
  max-width: 300px;
  margin-right: 1rem;
	border: 1px solid $pro-lightgray;
	background: $pro-lightestgray;
  .item__sliders-wrapper {
	  position: sticky;
	  top: 88px;
  }
}
.header__sliders {
  display: none;
  max-width: 300px;
}
.item__sliders {
	span {
		float: right;
		font-size: 9px;
		color: $pro-darkergray;
		letter-spacing: .01em;
		font-weight: bold;
	}
}

//item
.item__proof {
	border: 1px solid $pro-lightergray;
	border-radius: $pro-radius;
}
