// Typography
.t__left {
	text-align: left;
}
.t__right {
	text-align: right;
}
.t__center {
	text-align: center;
}
.t__uppercase {
	text-transform: uppercase;
}
.t__size-xxl {
  font-size: 140pt;
  line-height: 1.1;
}
.t__size-xl {
  font-size: 100pt;
  line-height: 1.2;
}
.t__size-l {
  font-size: 84pt;
  line-height: 1.2;
}
.t__size-m {
  font-size: 56pt;
  line-height: 1.3;
}
.t__size-s {
  font-size: 28pt;
  line-height: 1.4;
}
.t__size-xs {
  font-size: 14pt;
  line-height: 1.4;
}

// headings

h2 {
  text-align: center;
}

h3 .tooltip {
  display: block;
}
#section__header-stage-buttons, .testarea-values {
	letter-spacing: .04em;
	font-feature-settings: "tnum" 1;
}
.item__sliders-wrapper {
      letter-spacing: .035em;
	.t__right {
		float: right;
	}
}
.btn {
	letter-spacing: .035em;
}
h6.h6 {
	font-weight: 300;
	letter-spacing: .01em;
}
