// Typography
.h6, .h3 {
	font-family: "monospaced", "Courier";
}
.t__left {
	text-align: left;
}
.t__right {
	text-align: right;
}
.t__center {
	text-align: center;
}
.t__uppercase {
	text-transform: uppercase;
}
.t__size-xxl {
  font-size: 140px;
  min-height: 200px;
}
.t__size-xl {
  font-size: 100px;
  min-height: 400px;
}
.t__size-l {
  font-size: 84px;
  min-height: 600px;
}
.t__size-m {
  font-size: 56px;
  min-height: 700px;
}
.t__size-s {
  font-size: 28px;
  min-height: 800px;
}
.t__size-xs {
  font-size: 14px;
  min-height: 800px;
}

// headings
h2 {
  text-align: center;
}

h3 .tooltip {
  display: block;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'BlinkMacSystemFont', sans-serif;
}
