/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: "Gooper Text";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/BruphyText-Regular.woff2") format("woff2"),
       url("../fonts/BruphyText-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gooper Text";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/BruphyText-Medium.woff2") format("woff2"),
       url("../fonts/BruphyText-Medium.woff") format("woff");
}
@font-face {
  font-family: "Gooper Text";
  font-style: bold;
  font-weight: 500;
  src: url("../fonts/BruphyText-SemiBold.woff2") format("woff2"),
       url("../fonts/BruphyText-SemiBold.woff") format("woff");
}
